version: "3.1"
services:
{% if monitoring_nexporter_enabled %}
  nexporter:
    image: quay.io/prometheus/node-exporter:{{ monitoring_nexporter_image_version }}
    container_name: {{ monitoring_nexporter_container_name }}
    restart: always
    ports:
      - {{ monitoring_nexporter_docker_bind }}
    volumes:
      - "/:/host:ro,rslave"
    healthcheck:
      test: 'curl {{ monitoring_nexporter_docker_bind }}/metrics'
      interval: 2s
      timeout: 20s
{% endif %}
