server:
  http_listen_address: {{ monitoring_promtail_host }}
  http_listen_port: {{ monitoring_promtail_port }}
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

client:
  url: https://{{ monitoring_loki_user }}:{{ monitoring_loki_key }}@{{ monitoring_loki_hostname }}/api/prom/push

scrape_configs:
{% for module in monitoring_promtail_modules_enabled %}
{% set template = monitoring_promtail_modules_available[module]["template"] %}
{% include "promtail-config-apps/" + template %}


{% endfor %}
